<app-page-header>
    <div class="page-header-img">
        <img src="./../../../assets/services-header.jpg" class="img-responsive" />
    </div>
    <div class="page-header-details">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>
                        Our Services
                    </h2>
                </div>
                <div class="col-1 icon">
                    <i nz-icon nzType="setting" nzTheme="outline"></i>
                </div>
                <div class="col-11">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
        </div>
    </div>    
</app-page-header>
<app-cta></app-cta>

<section class="our-services">
    <h2 class="second-color section-heading">
        Our Services
        <span class="big-letter">S</span>
    </h2>    
    <p class="paragrahp-color">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>

    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="service wow fadeIn">
                        <div class="service-icon">
                            <i nz-icon nzType="mobile" nzTheme="outline"></i>
                        </div>
                        <div class="service-title">
                            <h4>Service Title</h4>
                        </div>
                        <div class="service-details">
                            <p class="paragrahp-color">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service wow fadeIn" data-wow-delay="1s">
                        <div class="service-icon">
                            <i nz-icon nzType="mobile" nzTheme="outline"></i>
                        </div>
                        <div class="service-title">
                            <h4>Service Title</h4>
                        </div>
                        <div class="service-details">
                            <p class="paragrahp-color">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>   
                <div class="col-lg-3 col-md-6">
                    <div class="service wow fadeIn" data-wow-delay="2s">
                        <div class="service-icon">
                            <i nz-icon nzType="mobile" nzTheme="outline"></i>
                        </div>
                        <div class="service-title">
                            <h4>Service Title</h4>
                        </div>
                        <div class="service-details">
                            <p class="paragrahp-color">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service wow fadeIn" data-wow-delay="3s">
                        <div class="service-icon">
                            <i nz-icon nzType="mobile" nzTheme="outline"></i>
                        </div>
                        <div class="service-title">
                            <h4>Service Title</h4>
                        </div>
                        <div class="service-details">
                            <p class="paragrahp-color">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="service wow fadeIn">
                        <div class="service-icon">
                            <i nz-icon nzType="mobile" nzTheme="outline"></i>
                        </div>
                        <div class="service-title">
                            <h4>Service Title</h4>
                        </div>
                        <div class="service-details">
                            <p class="paragrahp-color">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service wow fadeIn" data-wow-delay="1s">
                        <div class="service-icon">
                            <i nz-icon nzType="mobile" nzTheme="outline"></i>
                        </div>
                        <div class="service-title">
                            <h4>Service Title</h4>
                        </div>
                        <div class="service-details">
                            <p class="paragrahp-color">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>   
                <div class="col-lg-3 col-md-6">
                    <div class="service wow fadeIn" data-wow-delay="2s">
                        <div class="service-icon">
                            <i nz-icon nzType="mobile" nzTheme="outline"></i>
                        </div>
                        <div class="service-title">
                            <h4>Service Title</h4>
                        </div>
                        <div class="service-details">
                            <p class="paragrahp-color">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service wow fadeIn" data-wow-delay="3s">
                        <div class="service-icon">
                            <i nz-icon nzType="mobile" nzTheme="outline"></i>
                        </div>
                        <div class="service-title">
                            <h4>Service Title</h4>
                        </div>
                        <div class="service-details">
                            <p class="paragrahp-color">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>                 
            </div>
        </div>
    </div>
</section>