<section class="about">
    <div class="container">
        <div class="row">
            <h2 class="second-color section-heading">
                About Us
                <span class="big-letter">A</span>
            </h2>

            <!-- start who-we-are -->
            <div class="who-we-are">
                <div class="col-12">
                    <h3 class="sub-head">
                        Who we are
                    </h3>
                    <p class="paragrahp-color">
                        We are an innovative company. We develop and design <span class="main-color typing"></span> for
                        <br>
                        <span>customers around the world. Our clients are some of the most forward-looking companies in the world.</span>
                    </p>
                </div>
            </div>
            <!-- end who-we-are -->
        </div>
    </div>

    <div class="about-more-details">
        <!-- start what-we-do -->
        <div class="what-we-do">
            <div class="what-we-do-details">
                <div class="content">
                    <h3 class="sub-head">
                        What we do
                    </h3>
                    <div class="what-we-do-list">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 icon">
                                    <i nz-icon nzType="laptop" nzTheme="outline"></i>
                                </div>
                                <div class="col-9 title">
                                    <h4>
                                        Title
                                    </h4>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-9 details">
                                    <p class="paragrahp-color">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="what-we-do-list">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 icon">
                                    <i nz-icon nzType="mobile" nzTheme="outline"></i>
                                </div>
                                <div class="col-9 title">
                                    <h4>
                                        Title
                                    </h4>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-9 details">
                                    <p class="paragrahp-color">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="what-we-do-list">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 icon">
                                    <i nz-icon nzType="area-chart" nzTheme="outline"></i>
                                </div>
                                <div class="col-9 title">
                                    <h4>
                                        Title
                                    </h4>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-9 details">
                                    <p class="paragrahp-color">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="what-we-do-list">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 icon">
                                    <i nz-icon nzType="desktop" nzTheme="outline"></i>
                                </div>
                                <div class="col-9 title">
                                    <h4>
                                        Title
                                    </h4>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-9 details">
                                    <p class="paragrahp-color">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="what-we-do-list">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 icon">
                                    <i nz-icon nzType="desktop" nzTheme="outline"></i>
                                </div>
                                <div class="col-9 title">
                                    <h4>
                                        Title
                                    </h4>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-9 details">
                                    <p class="paragrahp-color">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                                                                                
                </div>
            </div>
            <div class="what-we-do-img">
                <img src="./../../../../assets/what-we-do.jpg" alt="img" class="img-responsive"/>
            </div>
        </div>
        <!-- end what-we-do -->

        <div class="clear"></div>

        <!-- start partner -->
        <div class="partner">
            <div class="partner-img">
                <div style="height: 600px; overflow: hidden;">
                    <img src="./../../../../assets/partner.jpg" alt="img" class="img-responsive"/>
                </div>                
            </div>             
            <div class="partner-details">
                <div class="content">
                    <h3 class="sub-head">
                        We are your partner
                    </h3>
                    <div class="partner-collaps">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nz-collapse nzAccordion matRipple>
                                        <nz-collapse-panel nzHeader="Title 1" nzExpandedIcon="plus">
                                          <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.                              
                                          </p>
                                        </nz-collapse-panel>
                                    </nz-collapse>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="partner-collaps">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nz-collapse nzAccordion>
                                        <nz-collapse-panel nzHeader="Title 2" nzExpandedIcon="plus" matRipple>
                                          <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.                              
                                          </p>
                                        </nz-collapse-panel>
                                    </nz-collapse>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="partner-collaps">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nz-collapse nzAccordion>
                                        <nz-collapse-panel nzHeader="Title 3" nzExpandedIcon="plus" matRipple>
                                          <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.                              
                                          </p>
                                        </nz-collapse-panel>
                                    </nz-collapse>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="partner-collaps">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nz-collapse nzAccordion>
                                        <nz-collapse-panel nzHeader="Title 4" nzExpandedIcon="plus" matRipple>
                                          <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.                              
                                          </p>
                                        </nz-collapse-panel>
                                    </nz-collapse>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="partner-collaps">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nz-collapse nzAccordion>
                                        <nz-collapse-panel nzHeader="Title 5" nzExpandedIcon="plus" matRipple>
                                          <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.                              
                                          </p>
                                        </nz-collapse-panel>
                                    </nz-collapse>
                                </div>
                            </div>
                        </div>
                    </div>                                                                                                                        
                </div>
            </div>           
        </div>
        <!-- end partner -->

        <div class="clear"></div>
    </div>

    <!-- start our work -->
    <div class="our-work">
        <app-our-work></app-our-work>
        <div class="clear"></div>
    </div>
    <!-- end our work -->

    <!-- start testimonials -->
    <div class="testimonials">
        <h3 class="sub-head">
            Testimonials
        </h3>  
        
        <div class="container">
            <nz-carousel [nzEffect]="'fade'" class="testimonials-carousel" nzAutoPlay>
                <div nz-carousel-content class="carousel-content">
                  <div class="carousel-image">
                    <img src="./../../../../assets/client.png" alt="client" />
                  </div>
                  <div class="carousel-client">
                    <h3 class="client-name">Client Name 1</h3>
                    <h4 class="client-position">Client Position</h4>
                  </div>
                  <div class="carousel-feadback">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                  </div>
                </div>
    
                <div nz-carousel-content class="carousel-content">
                    <div class="carousel-image">
                      <img src="./../../../../assets/client.png" alt="client" />
                    </div>
                    <div class="carousel-client">
                      <h3 class="client-name">Client Name 2</h3>
                      <h4 class="client-position">Client Position</h4>
                    </div>
                    <div class="carousel-feadback">
                      <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      </p>
                    </div>
                </div>  
                
                <div nz-carousel-content class="carousel-content">
                    <div class="carousel-image">
                      <img src="./../../../../assets/client.png" alt="client" />
                    </div>
                    <div class="carousel-client">
                      <h3 class="client-name">Client Name 3</h3>
                      <h4 class="client-position">Client Position</h4>
                    </div>
                    <div class="carousel-feadback">
                      <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      </p>
                    </div>
                </div>                
            </nz-carousel> 
        </div>       
    </div>
    <!-- end testimonials -->

    <!-- start clients -->
    <div class="our-clients">
        <h2 class="sub-head-white">
            Our Clients
        </h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>

        <div class="container logo-carousel">
            <owl-carousel-o [options]="customOptions"> 
                <ng-template carouselSlide>
                    <img src="./../../../../assets/logo.png" alt="logo" class="logo-image" />
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="./../../../../assets/logo2.png" alt="logo" class="logo-image" />
                </ng-template> 
                <ng-template carouselSlide>
                    <img src="./../../../../assets/logo3.png" alt="logo" class="logo-image" />
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="./../../../../assets/logo4.png" alt="logo" class="logo-image" />
                </ng-template>                                     
            </owl-carousel-o>  
        </div>
    </div>
    <!-- end clients -->
</section>