<app-page-header>
    <div class="page-header-img">
        <img src="./../../../assets/work-header.jpg" class="img-responsive" />
    </div>
    <div class="page-header-details">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>
                        Our Works
                    </h2>
                </div>
                <div class="col-1 icon">
                    <i nz-icon nzType="desktop" nzTheme="outline"></i>
                </div>
                <div class="col-11">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
        </div>
    </div>    
</app-page-header>
<app-cta></app-cta>
<section class="our-work-wrapper">
    <app-our-work></app-our-work>
</section>