<nav class="main-nav">
    <div class="container">
        <div class="row align">
            <!-- start logo -->
            <div class="col-4">
                <h2 class="main-color" style="font-size: 30px; margin-bottom: 0;" matRipple>iMakeApp</h2>
            </div>
            <!-- end logo -->

            <!-- start links -->
            <div class="col-8">
                <ul class="site-links"> 
                    <li matRipple>
                        <a routerLinkActive="active" [routerLinkActiveOptions] = '{ exact: true }' routerLink="" class="transition">
                            Home
                        </a>
                    </li>
                    <li matRipple>
                        <a routerLinkActive="active" [routerLinkActiveOptions] = '{ exact: true }' routerLink="/our-services" class="transition">
                            Services
                        </a>
                    </li>
                    <li matRipple>
                        <a routerLinkActive="active" [routerLinkActiveOptions] = '{ exact: true }' routerLink="/our-work" class="transition">
                            Our Works
                        </a>
                    </li>
                    <li matRipple>
                        <a routerLinkActive="active" [routerLinkActiveOptions] = '{ exact: true }' routerLink="/jobs" class="transition">
                            Jobs
                        </a>
                    </li>
                    <li matRipple>
                        <a routerLinkActive="active" [routerLinkActiveOptions] = '{ exact: true }' routerLink="/contact" class="transition">
                            Contact Us
                        </a>
                    </li>                             
                </ul>
            </div>
            <!-- end links -->  
        </div>      
    </div>
</nav>